body, html{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.navbar{
    padding: 5px;
    background-color: #000042;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 70px;
    border-radius: 20px;
    position: fixed;
    top: 10px;
    width: calc(100vw - 140px);
}

.logo{
    width: 30px;
}

.cmpName{
    height: 30px;
}

.left, .middle, .right{
    padding: 0px;
    margin: 0px;
}

.middle{
    font-size: medium;
    
}

.middleList{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: #D4D4DF;
}

a:hover{
    color: #2E47D6;
}

.middleListItem{
    padding: 0px 10px;
}

a{
    text-decoration: inherit;
    color: #D4D4DF;
}


.signUp{
    border: 1px solid #D4D4DF;
    background-color: transparent;
    color: #D4D4DF;
    padding: 13px;
    font-size: medium;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

.dashboard{
    border: none;
    background-color: #2E47D6;
    color: #D4D4DF;
    padding: 13px;
    font-size: medium;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.signUp:hover, .dashboard:hover{
    color: #000042;
    background-color: #D4D4DF;
}

/* sec1 */
.sec1{
    height: 95vh;
    background-color: #000042;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headings{
    padding: 0px;margin: 0px;
}

.mainHead{
    color: #D4D4DF;
    font-size: 100px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
}

.subHead{
    color: #D4D4DF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.joinComp{
    border: 1px solid #D4D4DF;
    background-color: transparent;
    color: #D4D4DF;
    padding: 13px;
    font-size: medium;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

.buyChallenge{
    border: none;
    background-color: #2E47D6;
    color: #D4D4DF;
    padding: 13px;
    font-size: medium;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.buyChallenge:hover, .joinComp:hover{
    color: #000042;
    background-color: #D4D4DF;
}


/* section2 */
.sec2{
    background-color: #000042;
}

.sec2Head{
    color: #D4D4DF;
    font-size: 25px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
}

.sec2Items{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 50px;
}

.sec2Item{
    border: 1px solid rgb(181, 192, 255);
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.sec2Item:hover{
    background-color: #2E47D6;
}
.sec2Item:hover > .sec2ItemBlue{
    color: #D4D4DF;
}

.sec2ItemImg{
    width: 40px;
    margin-bottom: 60px;
}

.sec2ItemBlue{
    color: #2E47D6;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
}

.sec2ItemWhite{
    color: #D4D4DF;
    padding: 0px;margin: 0px;

}